<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
	<div class="pagination justify-content-center">
		<%= will_paginate %>
	</div>
	<% @users.each do |user| %>
		<ul class="listing">
			<div class="row">
				<div class="card col-md-4 offset-md-4">
					<li><%= link_to gravatar_for(user), user_path(user), class: "card-img-top", alt: "Gravatar of user" %></li>
					<li class="card-title">
						<%= link_to user.username, user_path(user) %>
					</li>
					<li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
				</div>
			</div>
		</ul>
	<% end %>
	<div class="pagination justify-content-center">
		<%= will_paginate %>
	</div>
</div>